# -*- coding: utf-8 -*-

# Environment variables for the application
#
# This file is used to set up the environment for the application
# and should not be committed to version control. It is important 
# to keep this file secure and not share it publicly.
#
# Make sure to add this file to your .gitignore
# to prevent it from being tracked by Git.


ENVIRONMENT="local"
DEBUG=True

# FastAPI settings
APP_NAME="aQveir FastAPI Template"
APP_VERSION="0.1.0"
APP_DESCRIPTION="aQveir FastAPI Template application"
APP_HOST="0.0.0.0"
APP_PORT=8080

# AWS settings
AWS_ACCESS_KEY_ID="__aws_access_key_id__"
AWS_SECRET_ACCESS_KEY="__aws_secret_access_key__"
AWS_REGION="us-east-1"

AWS_S3_ENDPOINT_URL="https://s3.amazonaws.com"
AWS_S3_REGION_NAME="us-east-1"
AWS_S3_BUCKET=""

# JWT settings
JWT_SECRET_KEY="fastapi"
JWT_ALGORITHM="HS256"
JWT_EXPIRES=3600
JWT_ISSUER="fastapi"
JWT_AUDIENCE="fastapi"